h2 {
  background-image: url("../img/line.png");
  background-repeat: repeat-x;
  background-position: center right;
}

h2 .text-content {
  background-color: white;
  padding-right: 1ex;
}

section {
  margin-bottom: 1em;
}

.title {
  font-style: italic;
}

#header {
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
