h2 .text-content {
  background-color: white;
  padding-right: 1ex;
}

section {
  margin-bottom: 1em;
}

.title {
  font-style: italic;
}

.section-divider {
  position: absolute;
  z-index: -1;
}

/* Unround top-left and top-right corners of hero unit */
#header {
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
