body {
  /* Classical Humanist from modernfontstacks.com */
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

a {
  color: firebrick;
}

a:visited {
  color: maroon;
}

hgroup {
  white-space: nowrap;
}

hgroup > h1, hgroup > h2, hgroup > h3, hgroup > .titledate {
  display: inline-block;
}

.job h3, #projects h2 {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6, .titledate {
  /* Transitional from modernfontstacks.com */
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

hgroup > h1::after, hgroup > h3::after {
  content: ",";
}

.chiplist {
  margin-bottom: 0.5em;
}

.chips {
  display: inline;
  list-style: none;
  padding: 0;
}

.chips > li {
  display: inline-block;
  border: thin solid;
  box-shadow: 2px 2px;
  padding: 2px;
  margin: 4px;
}

.horizontaltiles {
  display: flex;
  gap: 1em;
}

.horizontaltiles > * {
  flex-basis: 0;
  flex-grow: 1;
}

.job {
  border-top: solid;
}

.job:last-child {
  border-bottom: solid;
}

@media not print {
  body {
    margin-left: 10em;
    margin-right: 1em;  
  }

  header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-column: 1;
    background-color: darkred;
    color: white;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-align: right;
    width: 9em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .footnotes {
    display: none;
  }
}

@media print {
  a::after {
    content: ' <' attr(href) '>';
    font-size: smaller;
    /* Industrial from modernfontstacks.com */
    /* font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif; */
  }

  .chiplist a::after {
    content: attr(data-footnote);
    font-variant-position: super;
  }

  .footnotes > dt, .footnotes > dd {
    display: inline-block;
  }

  .footnotes a::after {
    content: none;
  }
}
